* {
    margin: 0;
    padding: 0;
    
  }
  
  body {
    background: url(tictac-bg.jpg) ;
    text-align: center;
    margin: 3rem;
   /*background-size: cover;
    background-position: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .turn-container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    position:relative;
    
  }

  .msg-container #msg{
    border:2px solid black;
    font-size: 2rem;
    font-weight: 1000;
    background-color: #3d3b3b;
    margin: 10px;
    padding: 5px;
    box-shadow:0 0 1rem #a3e2e3;
  }

  .align{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .turn-container h2{
    grid-column-start: 1;
    grid-column-end:3
  }
  .turn-container .turnbox{
    border:2px solid black;
    font-size: 2rem;
    font-weight: 1000;

  }
  .turn-container .turnbox:nth-child(even){
    border-right: none;
  }
  .main-container{
    width: 70vmin;
    height: 93vmin;
    z-index: 1;
    background: linear-gradient(
        to top, rgb(0, 0, 0, 0.15),
        rgb(255, 255, 255, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}
  

  .bg{
    position: absolute;
    bottom: 0;
    left:0;
    width: 85px;
    height: 45px;
    font-size: medium;
    background-color:rgb(133, 216, 237);
    z-index: -1;
  }
  .box:hover{
    cursor: pointer;
    background-color:#a3e2e3;
  }

  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
   /* box-shadow: 0 0 1rem #385d68;*/
    font-size: 8vmin;
    color:rgb(26, 26, 26);
    background-color:rgb(57, 217, 217);
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #f2f2eb;
    font-size: 5vmin;
  }
  
  .msg-container {
    width: 100%;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }

  @media (max-width:700px){
    .main-container{
      margin: 10px;
    }
    .container{
      
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .box{

      width: 16vmin;
      height: 16vmin;
    }
    .bg{
      position: absolute;
      bottom: 0;
      left:0;
      width: 40px;
      height: 20px;
      font-size: medium;
      background-color:rgb(133, 216, 237);
      z-index: -1;
    }
    .turn-container h6{
      grid-column-start: 1;
      grid-column-end:3
    }
    .turn-container .turnbox{
      border:2px solid black;
      font-size: 1rem;
      font-weight: 1000;
  
    }
    .turn-container .turnbox:nth-child(even){
      border-right: none;
    }
    .turn-container{
      width: 70px;
      height: 80px;
      margin: auto;
      display: grid;
      position:relative;
      
    }
    .main-container{
      margin-top: 200px;
      width: 70vmin;
      height: 120vmin;
      z-index: 1;
      background: linear-gradient(
          to top, rgb(0, 0, 0, 0.15),
          rgb(255, 255, 255, 0.15));
      border-radius: 12px;
      backdrop-filter: blur(100px);
      padding: 20px;
  }
  .container {
    height: 30vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  .msg-container {
    width: 90%;
    height: 10vmin;
    display:grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  .con{
    
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  }